<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand"><i class="fas fa-sun"></i><ng-container i18n="Weather@@weather">Weather</ng-container></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink=""><i class="fas fa-home"></i><ng-container i18n="Home@@home"> Home</ng-container></a>
            </li><li class="nav-item">
                <a class="nav-link" routerLink="current-location"><i class="fas fa-compass"></i><ng-container i18n="Current location@@currentLocation"> Current location</ng-container></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink=""><i class="fas fa-sign-in-alt"></i><ng-container i18n="Login@@login">Login</ng-container></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink=""><i class="fas fa-user-plus"></i><ng-container i18n="Register@@register">Register</ng-container></a>
            </li>
            <!-- Login and register are not impelemented, they are there only visually-->
        </ul>
    </div>
</nav>


