<div class="container" *ngIf="!dataIsAvailable">
    <ng-container i18n="Loading@@loading">Loading... </ng-container>
</div>

<div class="container text-center p-3" *ngIf="dataIsAvailable">
    <div class="row justify-content-center">
        <div class="col-6" >
            <p class="lead"><span><b>{{currentWeather.city}}</b></span></p>
            <p><ng-container i18n="Obtained@@obtained">obtained</ng-container> {{currentWeather.date | date:'dd.MM.yyyy HH:mm:ss'}}</p>
        </div>
    </div>
    <div class="row justify-content-center p-2">
        <div class="col-6">
            <mat-card-class class="mat-elevation-z5 card">
                <mat-card-header>
                    <mat-card-title>Today's weather</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="flex-row">
                        <div class="weather-icon rounded">
                            <img src="http://openweathermap.org/img/w/{{currentWeather.icon}}.png" height="70" width="70">
                        </div>  
                        <div class="currentTemperature rounded">
                            <div class="col">
                                <span class="h1">{{currentWeather.temperature}}&#8451;</span>
                            </div>
                            <small>Feels like: {{currentWeather.feelsLike}}&#8451;</small>
                        </div>
                    </div>
                    <div class="flex-row">
                        <div>
                            <p class="h6"><ng-container i18n="Max temperature@@maxTemperature">Max: </ng-container> {{currentWeather.maxTemperature}}<span>&#8451;</span></p>
                            <p class="h6"><ng-container i18n="Min temperature@@minTemperature">Min:</ng-container> {{currentWeather.minTemperature}}<span>&#8451;</span></p>
                            <p class="h6"><ng-container i18n="Clouds@@clouds">Clouds:</ng-container> {{currentWeather.clouds}}%</p>
                        </div>
                        <div>
                            <p class="h6"><ng-container i18n="Humidity@@humidity">Humidity: </ng-container> {{currentWeather.humidity}}%</p>
                            <p class="h6"><ng-container i18n="Atmospheric pressure@@atmospherisPressure">Atmospheric pressure: </ng-container> {{currentWeather.pressure}}</p>
                            <p class="h6"><ng-container i18n="Wind@@wind">Wind speed: </ng-container> {{currentWeather.wind}}</p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card-class>
        </div>
        <div class="col-6">  
            <mat-card-class class="mat-elevation-z5 card">
                <mat-card-header>
                    <mat-card-title>
                        Forecast
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="col">
                        <div *ngFor="let day of forecast; let i = index" class="row m-1 align-items-center forecast rounded">
                            <div class="col">
                                <p>{{forecastDates[i] | date:'EEEE'}}</p>
                            </div>
                            <div class="col">
                                <img src="http://openweathermap.org/img/w/{{iconsForecast[i]}}.png" height="50" width="50">
                            </div>
                            <div class="col">
                                <p class="h3">{{day.temp.day - 273.15 | number:'1.0-0'}}<span>&#8451;</span></p>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card-class>
        </div>
        <div class="row text-center m-5">
            <div class="col">
                <button class="btn btn-md btn-primary" (click)="Refresh()"><ng-container i18n="Refresh@@refresh">Refresh </ng-container></button>
            </div>
        </div>
    </div>
</div>
